include philter_mod/configs/*.json
include philter_mod/data/i2b2_anno/*.txt
include philter_mod/data/i2b2_notes/*.txt
include philter_mod/data/i2b2_xml/*.xml
include philter_mod/data/phi/*.txt
include philter_mod/data/phi/*.json
include philter_mod/data/*.json
include philter_mod/filters/blacklists/*.json
include philter_mod/filters/regex/addresses/*.txt
include philter_mod/filters/regex/age/*.txt
include philter_mod/filters/regex/contact/*.txt
include philter_mod/filters/regex/dates/*.txt
include philter_mod/filters/regex/mrn_id/*.txt
include philter_mod/filters/regex/organizations/*.txt
include philter_mod/filters/regex/safe/*.txt
include philter_mod/filters/regex/salutations/*.txt
include philter_mod/filters/regex/addresses/*.txt
include philter_mod/filters/regex/ucsf_regex/*.txt
include philter_mod/filters/regex_context/*.txt
include philter_mod/filters/regex/*.py
include philter_mod/filters/whitelists/*.json
include philter_mod/generate_dataset/*.py
